{% extends "base.html" %}

{% block title %}Messages - Attendance System{% endblock %}

{% block breadcrumb %}Home / Messages{% endblock %}

{% block content %}
<div class="p-6">
    <div class="text-2xl font-semibold text-teal-700 mb-4">
        MESSAGES
    </div>
    <div class="bg-yellow-100 p-4 rounded-lg shadow-lg">
        <div class="flex items-center mb-4">
            <input class="mr-2" type="checkbox"/>
            <span>Jasmine Wang has applied for leave on 04-04-2024 for 1 day</span>
        </div>
        <div class="flex items-center">
            <input class="mr-2" type="checkbox"/>
            <span>Brandon Miller has applied for leave on 15-04-2024 for 20 days</span>
        </div>
    </div>
</div>
{% endblock %}
