{% extends 'base2.html' %}

{% block title %}Password Reset - Attendance System{% endblock %}

{% block content %}
<div class="text-center mt-10">
    <h2 class="text-4xl font-bold mb-4">PASSWORD RESET</h2>
    <p class="text-gray-600 mb-2">Please Try Logging in Again</p>
    <a class="text-teal-600" href="#">Login here</a>
    <div class="mt-10">
        <img class="mx-auto" height="300" src="https://storage.googleapis.com/a1aa/image/C9SH-PCQS5PRiXrJkaxeMJ0Ans_GlP7Y61Upy_-S5uw.jpg" width="600" alt="Reset Illustration"/>
    </div>
</div>
{% endblock %}
