{% extends 'base.html' %}

{% block title %}Profiles - Attendance System{% endblock %}

{% block breadcrumb %}Home / Profiles{% endblock %}

{% block content %}
  <div class="text-2xl font-semibold text-teal-700 mb-4">PROFILES</div>
  <div class="text-gray-600 mb-4">Home / Profiles</div>
  
  <!-- Search Input -->
  <div class="mb-6">
    <input class="w-full p-2 border rounded-full" placeholder="Search..." type="text"/>
  </div>

  <!-- Profiles Table -->
  <table class="w-full bg-green-100 border-collapse">
    <thead>
      <tr>
        <th class="border p-2">Name</th>
        <th class="border p-2">ID</th>
        <th class="border p-2">E_mail</th>
        <th class="border p-2">Grade</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="border p-2">Ali khattab</td>
        <td class="border p-2">123456780</td>
        <td class="border p-2"><a class="text-blue-600" href="mailto:123456780@sha.edu.eg">123456780@sha.edu.eg</a></td>
        <td class="border p-2">First</td>
      </tr>
      <tr>
        <td class="border p-2">Mohamed bokry</td>
        <td class="border p-2">123456781</td>
        <td class="border p-2"><a class="text-blue-600" href="mailto:123456781@sha.edu.eg">123456781@sha.edu.eg</a></td>
        <td class="border p-2">Second</td>
      </tr>
      <tr>
        <td class="border p-2">Mohamed salah</td>
        <td class="border p-2">123456782</td>
        <td class="border p-2"><a class="text-blue-600" href="mailto:123456782@sha.edu.eg">123456782@sha.edu.eg</a></td>
        <td class="border p-2">Third</td>
      </tr>
      <tr>
        <td class="border p-2">Mohamed Amr</td>
        <td class="border p-2">123456783</td>
        <td class="border p-2"><a class="text-blue-600" href="mailto:123456783@sha.edu.eg">123456783@sha.edu.eg</a></td>
        <td class="border p-2">Fourth</td>
      </tr>
      <tr>
        <td class="border p-2">Omar eltomy</td>
        <td class="border p-2">123456784</td>
        <td class="border p-2"><a class="text-blue-600" href="mailto:123456784@sha.edu.eg">123456784@sha.edu.eg</a></td>
        <td class="border p-2">Fifth</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
